<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    {% block head %}
    {% endblock %}

    <title>{% block title %}Index{% endblock %}</title>

</head>

<body>

    <header>
        <ul id="dropdown1" class="dropdown-content navdrop">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('recipe_db') }}">Bread Recipes</a></li>
            <li><a href="{{ url_for('recipe_db') }}">Cake Recipes</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo center">Online Baking</a>
                <ul class="left">
                {% block navback %}{% endblock %}
                </ul>
                <ul class="right">
                    <li><a href="{{ url_for('recipe_db') }}" class="right hide-on-med-and-down">GO TO RECIPES</a></li>
                    <li><a class="dropdown-button hide-on-large-only" href="#" data-activates="dropdown1"><i class="material-icons">menu</i></a></li>
                </ul>
            </div>
        </nav>        
    </header>

    <main>

    {% block mainhead %}

    {% endblock %}

    <div class="content">

    {% block content %}
    
    {% endblock %}

    </div>

    </main>

    <footer class="page-footer">
        <div class="footer row">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();
        });
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>