{% extends 'base.html' %}

    {% block head %}
    {% endblock %}

    {% block title %}
    Online Baking
    {% endblock %}

    {% block mainhead %}

    <div class="index-head">
        <h4 class="page-head">Welcome</h4>
    </div>

    {% endblock %}
    {% block content %}

    <h5 class="block-head">What do you want to bake today?</h5>
    <div class="headban">
        <h6 class="headban-head">All baking recipes in one place!</h6>
    </div>

    <p class="index-p">Hi! And welcome to my recipe collection. This page is meant to be a usefull tool for everyone who wants to bake bread, cakes or desserts, no matter what your previous experience is. This is also a place for sharing recipes for that great bread or dessert you just know that other people would also like to make. I hope this will inspire and encourage more baking, and that you will love it just as much as I do. </p>

    {% endblock %}
