{% extends 'base.html' %}

    {% block head %}
    {% endblock %}

    {% block title %}
    Recipe Database
    {% endblock %}

    {% block navback %}
    <li><a href="#" onclick="history.go(-1)" class="left"><i class="material-icons">arrow_back</i></a></li>
    {% endblock %}

    {% block mainhead %}

    <div class="row db-row">
        <div class="bread-head col s5 m5 offset-m1 l8 offset-l2">
            <h4 class="page-head">Recipes</h4>
        </div>
        <ul id="dropdowntype" class="dropdown-content td-drop">
            {% for type in recipe_type %}
                {% if rdiff is defined %}
                    {% if type.rec_type == '0' %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r=type.rec_type, diff_r=rdiff.rec_diff) }}">All</a></li>
                    {% else %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r=type.rec_type, diff_r=rdiff.rec_diff) }}">{{type.rec_type}}</a></li>
                    {% endif %}
                {% else %}
                    {% if type.rec_type == '0' %}
                    {% else %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r=type.rec_type, diff_r='0') }}">{{type.rec_type}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <ul id="dropdowndiff" class="dropdown-content td-drop">
            {% for diff in recipe_diff %}
                {% if rtype is defined %}
                    {% if diff.rec_diff == '0' %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r=rtype.rec_type, diff_r=diff.rec_diff) }}">All</a></li>
                    {% else %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r=rtype.rec_type, diff_r=diff.rec_diff) }}">{{diff.rec_diff}}</a></li>
                    {% endif %}
                {% else %}
                    {% if diff.rec_diff == '0' %}
                    {% else %}
                    <li><a href="{{ url_for('recipe_db_t_d', type_r='0', diff_r=diff.rec_diff) }}">{{diff.rec_diff}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div class="button-container">
            <a class="dropdown-button td-btn btn col hide-on-med-and-down" href="#!" data-activates="dropdowntype">Type<i class="material-icons right">arrow_drop_down</i></a>
            <a class="dropdown-button td-btn btn col s6 m5" href="#!" data-activates="dropdowndiff">Difficulty<i class="material-icons right">arrow_drop_down</i></a>
        </div>
    </div>

    {% endblock %}

    {% block content %}

    <div class="block-headban headban-db">
        <h6 class="headban-head">Select recipe from the list below</h6>
    </div>

    {% for rec in recipe %}

        {% if rtype and rdiff is defined %}

            {% if rtype.rec_type == '0' and rec.rec_diff == rdiff.rec_diff %}

            <a href="{{ url_for('recipe_view', recipe_id=rec._id)}}">
                <div class="col s12 db-list-item">
                    <h5 class="db-recipe-name">{{rec.rec_name}}</h5>
                    <div class="col s8 left db-recipe-spec">
                        Difficulty
                        {% if rec.rec_diff == 'Easy' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Medium' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Hard' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        {% endif %}
                    </div>
                    <div class="col s4 right db-recipe-spec">
                        <i class="material-icons db-recipe-item">timer</i>
                        {{rec.rec_time_h}}h {{rec.rec_time_m}}min
                    </div>
                </div>
            </a>

            {% elif rdiff.rec_diff == '0' and rec.rec_type == rtype.rec_type %}

            <a href="{{ url_for('recipe_view', recipe_id=rec._id)}}">
                <div class="col s12 db-list-item">
                    <h5 class="db-recipe-name">{{rec.rec_name}}</h5>
                    <div class="col s8 left db-recipe-spec">
                        Difficulty
                        {% if rec.rec_diff == 'Easy' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Medium' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Hard' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        {% endif %}
                    </div>
                    <div class="col s4 right db-recipe-spec">
                        <i class="material-icons db-recipe-item">timer</i>
                        {{rec.rec_time_h}}h {{rec.rec_time_m}}min
                    </div>
                </div>
            </a>

            {% elif rec.rec_type == rtype.rec_type and rec.rec_diff == rdiff.rec_diff %}

            <a href="{{ url_for('recipe_view', recipe_id=rec._id)}}">
                <div class="col s12 db-list-item">
                    <h5 class="db-recipe-name">{{rec.rec_name}}</h5>
                    <div class="col s8 left db-recipe-spec">
                        Difficulty
                        {% if rec.rec_diff == 'Easy' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Medium' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                        {% endif %}
                        {% if rec.rec_diff == 'Hard' %}
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        <i class="material-icons db-recipe-item">radio_button_checked</i>
                        {% endif %}
                    </div>
                    <div class="col s4 right db-recipe-spec">
                        <i class="material-icons db-recipe-item">timer</i>
                        {{rec.rec_time_h}}h {{rec.rec_time_m}}min
                    </div>
                </div>
            </a>

            {% endif %}

        {% else %}

        <a href="{{ url_for('recipe_view', recipe_id=rec._id)}}">
            <div class="col s12 db-list-item">
                <h5 class="db-recipe-name">{{rec.rec_name}}</h5>
                <div class="col s8 left db-recipe-spec">
                    Difficulty
                    {% if rec.rec_diff == 'Easy' %}
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                    <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                    {% endif %}
                    {% if rec.rec_diff == 'Medium' %}
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    <i class="material-icons db-recipe-item">radio_button_unchecked</i>
                    {% endif %}
                    {% if rec.rec_diff == 'Hard' %}
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    <i class="material-icons db-recipe-item">radio_button_checked</i>
                    {% endif %}
                </div>
                <div class="col s4 right db-recipe-spec">
                    <i class="material-icons db-recipe-item">timer</i>
                    {{rec.rec_time_h}}h {{rec.rec_time_m}}min
                </div>
            </div>
        </a>

        {% endif %}

    {% endfor %}

    {% endblock %}
