{% extends 'base.html' %}

    {% block head %}
    {% endblock %}

    {% block title %}
        Recipe view
    {% endblock %}

    {% block content %}

    {% if r_ing.ing1 is defined %}
        {{r_ing.ing1.name}}
        {{r_ing.ing1.amount}}
        {{r_ing.ing1.unit}}
    {% endif %}

    {% if r_ing.ing2 is defined %}
        {{r_ing.ing2.name}}
        {{r_ing.ing2.amount}}
        {{r_ing.ing2.unit}}
    {% endif %}

    {% if r_ing.ing3 is defined %}
        {{r_ing.ing3.name}}
        {{r_ing.ing3.amount}}
        {{r_ing.ing3.unit}}
    {% endif %}

    {% if r_ing.ing4 is defined %}
        {{r_ing.ing4.name}}
        {{r_ing.ing4.amount}}
        {{r_ing.ing4.unit}}
    {% endif %}

    {% if r_ing.ing5 is defined %}
        {{r_ing.ing5.name}}
        {{r_ing.ing5.amount}}
        {{r_ing.ing5.unit}}
    {% endif %}

    {% if r_ing.ing6 is defined %}
        {{r_ing.ing6.name}}
        {{r_ing.ing6.amount}}
        {{r_ing.ing6.unit}}
    {% endif %}

    {% if r_ing.ing7 is defined %}
        {{r_ing.ing7.name}}
        {{r_ing.ing7.amount}}
        {{r_ing.ing7.unit}}
    {% endif %}

    {% if r_ing.ing8 is defined %}
        {{r_ing.ing8.name}}
        {{r_ing.ing8.amount}}
        {{r_ing.ing8.unit}}
    {% endif %}

    {% if r_ing.ing9 is defined %}
        {{r_ing.ing9.name}}
        {{r_ing.ing9.amount}}
        {{r_ing.ing9.unit}}
    {% endif %}

    {% if r_ing.ing10 is defined %}
        {{r_ing.ing10.name}}
        {{r_ing.ing10.amount}}
        {{r_ing.ing10.unit}}
    {% endif %}

    {% if r_ing.ing11 is defined %}
        {{r_ing.ing11.name}}
        {{r_ing.ing11.amount}}
        {{r_ing.ing11.unit}}
    {% endif %}

    {% if r_ing.ing12 is defined %}
        {{r_ing.ing12.name}}
        {{r_ing.ing12.amount}}
        {{r_ing.ing12.unit}}
    {% endif %}

    {{r_ing.ing.i1}}



    {% endblock %}
 