{% extends 'base.html' %}

    {% block head %}
    {% endblock %}

    {% block title %}
    {% endblock %}
    Recipe Database
    {% block content %}

        <ul class="collapsible">
            {% for rec in recipe %}
            <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>
                {{rec.rec_name}}
            </div>
            <div class="collapsible-body">
                <span>{{rec.rec_type}} {{rec.rec_diff}}</span>
            </div>
            </li>
            <a href="{{url_for('recipe_update', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
            <a class="waves-effect waves-light btn">delete</a>
            {% endfor %}
        </ul>

    {% endblock %}

<!--href="{{url_for('recipe_update', recipe_id=recipe._id)}}" -->
