{% extends 'base.html' %}

    {% block head %}
    {% endblock %}

    {% block title %}
    {% endblock %}
    Recipe Database
    {% block content %}

    <div class="row">
    <form class="col s12" action="" method="POST">
        <div class="input-field col s2">
            <select>
                {% for type in recipe_type %}
                <option id="{{type.rec_type}}" name="{{type.rec_type}}" value="{{type.rec_type}}">{{type.rec_type}}</option>
                {% endfor %}
            </select>
            <label>Recipe type</label>
        </div>
        <div class="input-field col s2">
            <select>
                {% for diff in recipe_diff %}
                <option id="{{diff.rec_diff}}" name="{{diff.rec_diff}}" value="{{diff.rec_diff}}">{{diff.rec_diff}}</option>
                {% endfor %}
            </select>
            <label>Recipe difficulty</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Sort
            <i class="material-icons right">send</i>
        </button>
    </form>
    </div>

    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            {% for rec in recipe %}
                {% if rec.rec_type == 'bread' %}
                <li class="{{rec.rec_type}}">
                <div class="collapsible-header">
                    <div class="col s3">
                        <i class="material-icons">expand_more</i>
                        <a href="{{ url_for('update_recipe', recipe_id=rec._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=rec._id)}}" class="waves-effect waves-light btn btn_small blue">Delete Recipe</a>
                    </div>
                    <div class="col s9">
                        <strong>{{rec.rec_name}}</strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>{{rec.rec_diff}}</span>
                    <span>{{rec.rec_aut}}</span>
                    <span>{{rec.rec_type}}</span>
                    <span>{{rec.rec_diff}}</span>
                    <span>{{rec.rec_time}}</span>
                    <span>{{rec.rec_equip}}</span>
                    <span>{{rec.rec_ing}}</span>
                    <span>{{rec.rec_step}}</span>
                    <span>{{rec.rec_pic}}</span>
                </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% endblock %}
